# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/

# CrewAI
.crewai/
trained_agents_data.pkl
training_data.pkl

# Database
db/*.db

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
